AI_Content_Master_Generator_clean.json
{
  "name": "AI Content Master Generator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        656
      ],
      "id": "3deac245-0534-49ac-a245-954ccc60c38a",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an international content strategist. Your task is to take the author's idea and create a content package in 3 languages.\n\nAUTHOR'S IDEA: {{ $json.message.text }}\n\nFor each language (English, Polski, Español) create three formats:\n\n1. Expert Longread (LinkedIn/Facebook): a deep expert post strictly on the author's topic, focused on practical value for the reader.\n2. Video Script (Reels/Shorts/TikTok): a dynamic 30–40 sec script, start with a strong hook strictly on topic.\n3. Engagement Post: a short lively post strictly on topic, ending with an open question to the audience.\n\nAlso create an Image Prompt: a short detailed description in English for a photorealistic illustration strictly on the author's topic. Specify lighting, style and main objects.\n\nCRITICALLY IMPORTANT: return ONLY valid JSON with no text before or after it. No explanations, no markdown blocks, only JSON.\n\nСтруктура JSON:\n{\n  \"en\": {\n    \"expert_post\": \"...\",\n    \"video_script\": \"...\",\n    \"engagement_post\": \"...\"\n  },\n  \"pl\": {\n    \"expert_post\": \"...\",\n    \"video_script\": \"...\",\n    \"engagement_post\": \"...\"\n  },\n  \"es\": {\n    \"expert_post\": \"...\",\n    \"video_script\": \"...\",\n    \"engagement_post\": \"...\"\n  },\n  \"image_prompt\": \"...\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        400
      ],
      "id": "c803fc51-f7f7-4b54-bbc1-775832e91790",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        624
      ],
      "id": "90dc476c-cf15-4b8f-b326-bc1c35763455",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.image_prompt }}\n\nTechnical requirements: photorealistic, ultra-detailed, 4K quality, professional photography style. Cinematic lighting with warm golden tones. No text, no watermarks, no logos. Aspect ratio 1:1. Style: Cinematic Archaeology meets Corporate Leadership — ancient wisdom meets modern business world.",
        "options": {
          "size": "1024x1024",
          "style": "vivid",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        496,
        784
      ],
      "id": "c9669a57-d399-4c13-a233-5332f28a3359",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.image_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        784
      ],
      "id": "e887aed4-6111-4460-b671-f336d48fa9cb",
      "name": "Send a photo message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// Clean up in case the model wrapped output in markdown\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('GPT returned invalid JSON: ' + e.message + '\\n\\nModel response:\\n' + raw.substring(0, 500));\n}\n\n// Проверяем наличие обязательных полей\nconst required = ['en', 'pl', 'es', 'image_prompt'];\nfor (const field of required) {\n  if (!parsed[field]) {\n    throw new Error(`Missing field: ${field}`);\n  }\n}\n\nreturn [{\n  json: {\n    en_expert:     parsed.en.expert_post,\n    en_video:      parsed.en.video_script,\n    en_engagement: parsed.en.engagement_post,\n    pl_expert:     parsed.pl.expert_post,\n    pl_video:      parsed.pl.video_script,\n    pl_engagement: parsed.pl.engagement_post,\n    es_expert:     parsed.es.expert_post,\n    es_video:      parsed.es.video_script,\n    es_engagement: parsed.es.engagement_post,\n    image_prompt:  parsed.image_prompt,\n    chat_id:       $('Telegram Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        496
      ],
      "id": "c59bafd3-86e8-4232-b702-7bfdb8dce58d",
      "name": "Parse JSON Output"
    },
    {
      "parameters": {
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "=🇪🇸 VERSIÓN ESPAÑOLA\n\n📝 Expert Post:\n{{ $json.es_expert }}\n\n🎬 Video Script:\n{{ $json.es_video }}\n\n💬 Engagement Post:\n{{ $json.es_engagement }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "approve_esp"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callback_data": "decline_esp"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        208
      ],
      "id": "cc5fc39a-d338-416b-b03a-8ba1f7049021",
      "name": "Text message Spanish",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🇵🇱 WERSJA POLSKA\n\n📝 Expert Post:\n{{ $json.pl_expert }}\n\n🎬 Video Script:\n{{ $json.pl_video }}\n\n💬 Engagement Post:\n{{ $json.pl_engagement }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "approve_pol"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callback_data": "decline_pol"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        400
      ],
      "id": "1c1ff6aa-9f9c-4e83-aaa0-ffc252195da6",
      "name": "Text message Polish",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🇬🇧 ENGLISH VERSION\n\n📝 Expert Post:\n{{ $json.en_expert }}\n\n🎬 Video Script:\n{{ $json.en_video }}\n\n💬 Engagement Post:\n{{ $json.en_engagement }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "approve_eng"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callback_data": "decline_eng"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        592
      ],
      "id": "81347863-0bd2-43cd-9e9f-75cbe1cadcf7",
      "name": "Text message English",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09d03e8c-8225-4470-81a1-1c89248ef3f2",
              "leftValue": "={{ $json.message.from.id.toString() }}",
              "rightValue": "YOUR_TELEGRAM_CHAT_ID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        656
      ],
      "id": "d35467fd-a13b-4459-8771-c0ae4776454e",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⛔ Sorry, this bot only works for its owner.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        800
      ],
      "id": "a284824e-3919-4d56-bb05-45a3066170af",
      "name": "Send a text message",
      "webhookId": "bae1a1af-a6a1-49e3-9aa3-cbe1abaa6d8f",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const imageUrl = $input.first().json.url;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\n// Save URL to Static Data\nconst staticData = $getWorkflowStaticData('global');\nstaticData[`image_url_${chatId}`] = imageUrl;\n\nreturn [{\n  json: {\n    image_url: imageUrl,\n    chat_id: chatId,\n    saved: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        784
      ],
      "id": "0ead7903-c743-4b9b-97e1-46fc983795da",
      "name": "Save Image URL"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1y3oEjUD6p5Xy8gr5r58RgDIkUj3P5xeH97tkKuIS1qY"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y3oEjUD6p5Xy8gr5r58RgDIkUj3P5xeH97tkKuIS1qY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
            "image_url": "={{ $('Generate an image').first().json.url }}",
            "timestamp": "={{ $now.toISO() }}",
            "text_en": "={{ $('Parse JSON Output').item.json.en_expert }}",
            "text_pl": "={{ $('Parse JSON Output').item.json.pl_expert }}",
            "text_es": "={{ $('Parse JSON Output').item.json.es_expert }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_en",
              "displayName": "text_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text_pl",
              "displayName": "text_pl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text_es",
              "displayName": "text_es",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        784
      ],
      "id": "8c707224-122e-46ed-8fa2-cf711cfeabf3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE SHEETS_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE SHEETS_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Save Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text message English",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text message Polish",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text message Spanish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image URL": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "quii71J7zWCv1V1c",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "761abc66-353c-4995-9de9-29c9478fcd9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8dc6b20db443e18892a3a7897076c0d1944dd1743dde315e88e0ce0d3ed7ca6"
  },
  "id": "y27nMOamJ9JYiV7uuXYtu",
  "tags": []
}